.header-layout {
  display: flex;
  gap: 15px;
  margin: 0px 20px 0px 20px;
}
.content {
  margin: 50px;
  text-align: center;
}

.content p {
  font-size: 16px;
  font-weight: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dddd;
  width: 100%;
  align-items: center;
}
